#navbar {
    z-index: 1;
}

#contact {
    background: url(../imagenes/bg-04.png);
    background-color: rgb(255, 255, 219);
    background-size: 40px 40px;
}

#footer {
    background-image: url(/imagenes/bg-04.png);
    background-color: rgb(244, 144, 24);
    background-size: 50px 50px;
}